{% extends 'layoutProfe.html' %}

{% block body %}



<div class="container">
    <section class="content">
        <div class="box box-info">
            <div class="box-header with-border">
                <center>
                    <h3 class="box-title">Profesor</h3>
                </center>
            </div>
        </div>
    </section>
</div>

<div class="container">
    <section class="content">
        <div>
            <h2 class="headline text-yellow"> Bienvenido al sistema de Profesores de Diseño de Software</h2>

            <div>
                <h3><i class="fa fa-warning text-yellow"></i> Pulsa el botón para volver</h3>
            </div>
        </div>
    </section>
</div>

<div class="container">
    <div class="row">
      <div class="col text-center">
        <a class="btn btn-warning" href="/" role="button">Salir</a>
      </div>
    </div>
  </div>




{% endblock %}