<div class="registration-form">
    <form>
        <h3 class="text-center">Registrarse</h3>
        <div class="form-group">
            <input class="form-control item" type="text" name="username" maxlength="15" minlength="4" pattern="^[a-zA-Z0-9_.-]*$" id="username" placeholder="Nombre de Usuario" required>
        </div>
        <div class="form-group">
            <input class="form-control item" type="password" name="password" minlength="6" id="password" placeholder="Password" required>
        </div>
        
        <div class="form-group">
            <button class="btn btn-primary btn-block create-account" type="submit">Registrarse</button>
        </div>
    </form>
</div>